<IfModule mod_rewrite.c>
    RewriteEngine On

    # set main file for domain
    RewriteCond %{REQUEST_FILENAME}  -f [OR]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [L,QSA,NC]
</IfModule>